<mat-card class="example-card" *ngIf="woman$ | async; let woman">
  <mat-card-header>
    <mat-card-title>{{ woman.firstName | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ woman.lastName | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>id :</b> {{ woman.id }}</li>
      <li><b>Date de naissance :</b> {{ woman.dateOfBirth }}</li>
      <li><b>situation :</b> {{ woman.situation }}</li>
      <ng-template [ngIf]="woman.boyfriend != null">
        <li>
          <b>Boyfriend :</b>
          <mat-card class="example-card" *ngIf="woman$ | async; let boyfriend">
            <mat-card-header>
              <mat-card-title>{{
                boyfriend.boyfriend.firstName | titlecase
              }}</mat-card-title>
              <mat-card-subtitle>{{
                boyfriend.boyfriend.lastName | lowercase
              }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </li>
      </ng-template>

      <br />
      <ng-template [ngIf]="woman.sport[0] != null">
        <b>Sport n°1</b>
        <ul>
          <li>
            {{ woman.sport[0].name }}
          </li>
        </ul>
      </ng-template>
      <br />
      <ng-template [ngIf]="woman.sport[1] != null">
        <b>Sport n°2</b>
        <ul>
          <li>
            {{ woman.sport[1].name }}
          </li>
        </ul>
      </ng-template>
      <br />
      <ng-template [ngIf]="woman.sport[2] != null">
        <b>Sport n°3</b>
        <ul>
          <li>
            {{ woman.sport[2].name }}
          </li>
        </ul>
      </ng-template>
      <br />
      <ng-template [ngIf]="woman.sport[3] != null">
        <b>Sport n°4</b>
        <ul>
          <li>
            {{ woman.sport[3].name }}
          </li>
        </ul>
        <br />
      </ng-template>
      <ng-template [ngIf]="woman.sport[4] != null">
        <b>Sport n°5</b>
        <ul>
          <li>
            {{ woman.sport[4].name }}
          </li>
        </ul>
      </ng-template>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteWoman(woman.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateWoman(woman)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
