<p>man-form works!</p>

<!-- <h2 mat-dialog-title>{{ isUpdateMode ? "Update" : "Add" }} man form</h2>

<form [formGroup]="manForm" (ngSubmit)="onSubmit(manForm.value)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Girlfriend</mat-label>
      <mat-select formControlName="girlfriend">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let girlfriend of girlfriends" [value]="girlfriend">
          {{ girlfriend }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>situation</mat-label>
      <mat-select formControlName="situation">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let situation of situations" [value]="situation">
          {{ situation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>sport</mat-label>
      <mat-select formControlName="sport">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let sport of sports" [value]="sport">
          {{ sport }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>photo</mat-label>
      <input matInput formControlName="photo" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="float-right">
    <button mat-button (click)="closeForm()">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!manForm.valid"
    >
      {{ isUpdateMode ? "Modifier" : "Ajouter" }}
    </button>
  </mat-dialog-actions>
</form> -->

<h2 mat-dialog-title>{{ isUpdateMode ? "Update" : "Add" }} Man form</h2>

<form [formGroup]="manForm" (ngSubmit)="onSubmit(manForm.value)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>firstName</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>situation</mat-label>
      <mat-select formControlName="situation">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let situation of situations" [value]="situation">
          {{ situation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>girlfriend</mat-label>
      <input matInput formControlName="girlfriend" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>photo</mat-label>
      <input matInput formControlName="photo" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>sport</mat-label>
    <input matInput formControlName="sport" />
  </mat-form-field>
  <br />
  <mat-dialog-actions class="float-right">
    <button mat-button (click)="closeForm()">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!manForm.valid"
    >
      {{ isUpdateMode ? "Modifier" : "Ajouter" }}
    </button>
  </mat-dialog-actions>
</form>
