<p>sport-form works!</p>

<h2 mat-dialog-title>{{ isUpdateMode ? "Update" : "Add" }} sport form</h2>

<form [formGroup]="sportForm" (ngSubmit)="onSubmit(sportForm.value)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>desc</mat-label>
      <input matInput formControlName="desc" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>photo</mat-label>
      <input matInput formControlName="photo" />
    </mat-form-field>
    <br />
    <!-- <mat-form-field appearance="fill">
      <mat-label>men</mat-label>
      <input matInput formControlName="men" />
    </mat-form-field> -->
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>List of men</mat-label>
      <mat-chip-list #chipList aria-label="Men selection">
        <mat-chip *ngFor="let man of men" (removed)="remove(man)">
          {{ man._id }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="New man..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>women</mat-label>
      <input matInput formControlName="women" />
    </mat-form-field>
    <br />
  </mat-dialog-content>
  <mat-dialog-actions class="float-right">
    <button mat-button (click)="closeForm()">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!sportForm.valid"
    >
      {{ isUpdateMode ? "Modifier" : "Ajouter" }}
    </button>
  </mat-dialog-actions>
</form>
