<p>sport-details works!</p>

{{ sport$ | async | json }}

<mat-card class="example-card" *ngIf="sport$ | async; let sport">
  <mat-card-header>
    <mat-card-title>{{ sport.name | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ sport.desc | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>photo :</b> {{ sport.photo }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteSport(sport.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateSport(sport)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
