<p>man-details works!</p>

{{ man$ | async | json }}

<mat-card class="example-card" *ngIf="man$ | async; let man">
  <mat-card-header>
    <mat-card-title>{{ man.firstName | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ man.lastName | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>photo :</b> {{ man.photo }}</li>
      <li><b>dob :</b> {{ man.dateOfBirth }}</li>
      <li><b>situation :</b> {{ man.situation }}</li>
      <ng-template [ngIf]="man.girlfriend != null">
        <li>
          <b>girlfriend :</b>
          <mat-card class="example-card" *ngIf="man$ | async; let girlfriend">
            <mat-card-header>
              <mat-card-title>{{
                girlfriend.girlfriend.firstName | titlecase
              }}</mat-card-title>
              <mat-card-subtitle>{{
                girlfriend.girlfriend.lastName | lowercase
              }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </li>
      </ng-template>
      <ng-template [ngIf]="man.sport != null">
        <li>
          <b>sport :</b>
          <!-- <mat-card class="example-card" *ngIf="man$ | async; let sport">
            <mat-card-header>
              <mat-card-title>{{
                sport.sport.name | titlecase
              }}</mat-card-title>
              <mat-card-subtitle>{{
                sport.sport.desc | lowercase
              }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card> -->
        </li>
        <table mat-table [dataSource]="sports$" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>name</th>
            <td mat-cell *matCellDef="let element">{{ element.sport.name }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef>desc</th>
            <td mat-cell *matCellDef="let element">{{ element.sport.desc }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </ng-template>
      <ng-template ngFor="sport of man.sport"> </ng-template>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteMan(man.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateMan(man)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
