<mat-card class="example-card" *ngIf="man$ | async; let man">
  <mat-card-header>
    <mat-card-title>{{ man.firstName | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ man.lastName | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>id :</b> {{ man.id }}</li>
      <li><b>Date de Naissance :</b> {{ man.dateOfBirth }}</li>
      <li><b>situation :</b> {{ man.situation }}</li>
      <ng-template [ngIf]="man.girlfriend != null">
        <li>
          <b>girlfriend :</b>
          <mat-card class="example-card" *ngIf="man$ | async; let girlfriend">
            <mat-card-header>
              <mat-card-title
                >{{ girlfriend.girlfriend.firstName | titlecase }}
              </mat-card-title>
              <mat-card-subtitle>{{
                girlfriend.girlfriend.lastName | lowercase
              }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </li>
      </ng-template>
      <!-- <ng-template [ngIf]="man.sport != null"> -->
      <br />
      <ng-template [ngIf]="man.sport[0] != null">
        <b>Sport n°1</b>
        <ul>
          <li>
            <b>{{ man.sport[0].name }}</b>
          </li>
        </ul>
      </ng-template>
      <br />
      <ng-template [ngIf]="man.sport[1] != null">
        <b>Sport n°2</b>
        <ul>
          <li>
            <b>{{ man.sport[1].name }}</b>
          </li>
        </ul>
      </ng-template>
      <br />
      <ng-template [ngIf]="man.sport[2] != null">
        <b>Sport n°3</b>
        <ul>
          <li>
            <b>{{ man.sport[2].name }}</b>
          </li>
        </ul>
      </ng-template>
      <br />
      <ng-template [ngIf]="man.sport[3] != null">
        <b>Sport n°4</b>
        <ul>
          <li>
            <b>{{ man.sport[3].name }}</b>
          </li>
        </ul>
        <br />
      </ng-template>
      <ng-template [ngIf]="man.sport[4] != null">
        <b>Sport n°5</b>
        <ul>
          <li>
            <b>{{ man.sport[4].name }}</b>
          </li>
        </ul>
      </ng-template>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteMan(man.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateMan(man)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
