<h2 mat-dialog-title>{{ isUpdateMode ? "Update" : "Add" }} Woman form</h2>

<form [formGroup]="womanForm" (ngSubmit)="onSubmit(womanForm.value)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>situation</mat-label>
      <mat-select formControlName="situation">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let situation of situations" [value]="situation">
          {{ situation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>boyfriend</mat-label>
      <input matInput formControlName="boyfriend" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>photo</mat-label>
      <input matInput formControlName="photo" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <br />
  <!-- <mat-form-field appearance="fill">
    <mat-label>sport</mat-label>
    <input matInput formControlName="sport" />
  </mat-form-field> -->
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>List of sports</mat-label>
    <mat-chip-list #chipList aria-label="Men selection">
      <mat-chip *ngFor="let sport of sports" (removed)="remove(sport)">
        {{ sport._id }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New sport..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <br />
  <mat-dialog-actions class="float-right">
    <button mat-button (click)="closeForm()">Annuler</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!womanForm.valid"
    >
      {{ isUpdateMode ? "Modifier" : "Ajouter" }}
    </button>
  </mat-dialog-actions>
</form>
